<app-home></app-home>
<h2>Reservation List</h2>
<div
  class="relative overflow-x-auto"
  *ngIf="reservations.length; else noReservation"
>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Guest name</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Room no.</th>
        <th scope="col" class="px-6 py-3">Check-In</th>
        <th scope="col" class="px-6 py-3">Check-Out</th>
        <th scope="col" class="px-6 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let reservation of reservations"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <td class="px-6 py-4">{{ reservation.guestName }}</td>
        <td class="px-6 py-4">{{ reservation.guestEmail }}</td>
        <td class="px-6 py-4">{{ reservation.roomNumber }}</td>
        <td class="px-6 py-4">{{ reservation.checkInDate }}</td>
        <td class="px-6 py-4">{{ reservation.checkOutDate }}</td>
        <td class="px-6 py-4">
          <button
            (click)="deleteReservation(reservation.id)"
            class="font-medium text-red-600 dark:text-red-500 hover:underline mx-1"
          >
            Delete
          </button>
          <button
            [routerLink]="['/edit', reservation.id]"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline mx-1"
          >
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noReservation>
  <p>No reservation available</p>
</ng-template>
